<div class='formpage'>
  <div class='page-headerbar'>
  </div>
  <div id='formpage-signin'>

    <h2 id='login-icon' className='form-title'>Log in</h2>

    <%= form_for :session, url: login_path, :html => {:class => 'form-signin'} do |f| %>
      <div class="field" id='username'>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.submit "Sign In!", :class => 'form-btn-signin' %>
      </div>
    <% end %>

  </div>
  <div class='page-footerbar'>
  </div>
</div>
