<div class='formpage'>
  <div class='page-headerbar'>
  </div>
  <div id='formpage-signup' className='formfield'>
    <h2 className='form-title'>Signup!</h2>

    <%= form_for :user, url: '/users', :html => {:class => 'form-signup'} do |f| %>

    Username: <%= f.text_field :username, :class => 'form-field'%>
    Password: <%= f.password_field :password, :class => 'form-field' %>
    Password Confirmation: <%= f.password_field :password_confirmation, :class => 'form-field' %>
    <%= f.submit "Sign Up!", :class => 'form-btn-signup', :id => 'form-btn'%>

    <% end %>
  </div>
  <div class='page-footerbar'>
  </div>
</div>
