<!DOCTYPE html>
<html>
  <head>
    <title>VanCsvUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
  </head>
  <body>
    <div class="container">
      <% flash.each do |k, value| %>
      <div class="alert alert-<%= k %>">
        <%= value %>
      </div>
      <% end %>
    </div>
    <%= yield %> 
  </body>
</html>
